/* || Global styles */
:root {
  --color-bright-orange: hsl(31 77% 52%);
  --color-dark-cyan: hsl(184 100% 22%);
  --color-very-dark-cyan: hsl(179 100% 13%);
  --color-transparent-white: hsl(0 0% 100% / 0.75);
  --color-very-light-gray: hsl(0 0% 95%);
  --heading-font: "Big Shoulders Display", cursive;
  --body-font: "Lexend Deca", sans-serif;
}

body {
  background-color: var(--color-very-light-gray);
  color: var(--color-transparent-white);
  font-family: var(--body-font);
  font-size: 0.9375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5.5rem 1.5rem;
}

.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
